<?xml version="1.0" encoding="UTF-8"?>
<persistence>
   <persistence-unit name="persistence-unit">
       <class>lt.vtvpmc.ems.pw.entities.Student</class>
       <class>lt.vtvpmc.ems.pw.entities.LearningNotFirstTime</class>
       <class>lt.vtvpmc.ems.pw.entities.AdditionalInformation</class>
       <class>lt.vtvpmc.ems.pw.entities.Parents</class>
       <class>lt.vtvpmc.ems.pw.entities.RequestForm</class>
       <class>lt.vtvpmc.ems.pw.entities.RequiredCourses</class>
       <class>lt.vtvpmc.ems.pw.entities.OptionalCourses</class>
       <properties>
           <property name="hibernate.hbm2ddl.auto" value="update"/>
       </properties>
   </persistence-unit>
</persistence>          
